.encabezado-principal {
    min-height: 500px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),
    url("../imagenes/fondo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}